body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body.claro {
  background-color: white;
  color: black;
  padding: 2rem;
}

body.oscuro {
  background-color: #1a1a1a;
  color: white;
  padding: 2rem;
}

button {
  margin: 1rem;
  padding: 0.5rem 1rem;
}
body.claro button {
  background-color: white;
  color: black;
  border: 1px solid black;
}

body.oscuro button {
  background-color: #333;
  color: white;
  border: 1px solid white;
}
